@{
  Layout = "_Base";
}

<h2>Add Vendor</h2>

<form action='/vendors' method='post'>
  <label>Vendor Name:
    <input type='text' name='name' id='name' required>
  </label>
  <label>Vendor Description:
    <textarea type='textarea' name='description' id='description' required></textarea>
  </label>
  <button type='submit'>Add Vendor</button>
</form>
