@{
  Layout = "_Base";
}

<h2>Welcome to Pierre's Vendor Page</h2>

<p>On this page you will be able to view all of the vendors in your system,
update the list with new ones, and add orders to each vendor.</p>

<p>Please selection which you would like to do:</p>
<a href='/vendors'><button type='button'>View Vendors</button></a>
<a href='/vendors/new'><button type='button'>Add Vendor</button></a>
